<html>
	<head>
		<title>Dragon Slayer 3 (amy want): Login</title>
		
	    <!-- Include Ext and app-specific scripts: -->
	    <script type="text/javascript" src="/media/js/ext/adapter/ext/ext-base.js"></script>
	    <script type="text/javascript" src="/media/js/ext/ext-all-debug.js"></script>
	    <script type="text/javascript" src="/media/js/auth/login.js"></script>
   	    <script type="text/javascript" src="/media/js/override.js"></script>
	    
	    <!-- Include Ext stylesheets here: -->
	    <link rel="stylesheet" type="text/css" href="/media/js/ext/resources/css/ext-all.css">
	    <link rel="stylesheet" type="text/css" href="ExtStart.css"> 
    
	</head>
	
	<body>
	{% csrf_token %}
	</body>
</html>
