[dscnf]
debug = 1
version = 2
logfile = /var/log/dragonslayer.log
ids = dragon
db = mysql
#ingestors = mdl, shadowserver, ses
correlators = shadowserver, ses

[correlators]
#shadow fetch time
#mdl fetch time

[org]
org_name = The George Washington University
sec_team = GWU CERT
email = incident@gwu.edu
