#should probably add various config guides and not randmly create entries... if only the world were a better place


[dscnf]
debug		= 1
version		= 2
logfile		= /var/log/dragonslayer.log
ids		= dragon
db		= mysql
#correlators 	= mdl, shadowserver, ses
correlators     = mdl, ses
lockfile 	= ds.lock

[correlators]
#shadow fetch time
#mdl fetch time

[org]
org_name = The George Washington University
sec_team = GWU CERT
email = incident@gwu.edu
