[sescnf]
username = mwollenw@gwu.edu_gwDragonslayer
password = cR8Um5S4bBq21xX
#interval to update - in minutes
update_interval = 60

[feeds]
base_url = https://secure.ren-isac.net/cgi-bin/feeds/
pages = bt-ses-phishing-url.cgi, bt-ses-malware-url.cgi, bt-ses-domains.cgi, bt-dnsnames.cgi, bt-cncip.cgi, bt-httpcnc.cgi

