a:link { color: #FFFFFF; }
a:visited {color: #FFFFB0;}

body { 
   text-align: center;
   color: white;
   background-color: #000066;
   a:link{color: white;}
}

#left_nav{
   text-align: left;
   float: left;
   color: white;
   background-color: #000066;
   
   a:link {
     color: #000000;
     }

}
